.contact-container {
    width: 100%;
    padding: 7px 0px;
}

.contact-container .title-contact {
    text-align: center;
}

.contact-container .title-contact h1 {
    color: var(--primary-color);
}

.form-contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 80px 4%;
    backdrop-filter: blur(10px);
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(20 0 0 / 20%);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.form-contact h2 {
    color: var(--secondary-color);
    font-size: 2rem;
}

.form-contact form {
    width: 100%;
    padding: 30px 0px;
    display: flex;
    flex-direction: column;
    Align-items: center;
}

.form-contact form .form-inputs {
    width: 100%;
    gap: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-contact form .form-inputs div {
    width: 32rem;
    height: 50px;
    border: 1px solid var(--primary-color);
    display: flex;
}

.form-contact form .form-inputs div label {
    width: 40px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-contact form .form-inputs div label i {
    color: var(--secondary-color);
    font-size: 2rem;
    padding: 0px 10px;
}

.form-contact form .form-inputs div input {
    width: 100%;
    height: 100%;
    font-size: 16px;
    padding: 0px 10px;
    border: none;
}

.form-contact form .form-inputs div input:focus {
    outline: none;
    border: 3px solid var(--background-color);
}

.form-contact form .form-inputs .message-btn {
    height: 100%;
    gap: 20px;
    flex-direction: column;
    align-items: center;
    border: none;
}

.form-contact form .form-inputs .message-btn textarea {
    width: 100%;
    height: 242px;
    font-size: 16px;
    padding: 10px;
    resize: none;
}

.form-contact form .form-inputs .message-btn textarea:focus {
    outline: none;
    border: 3px solid var(--background-color);
}

.form-contact form .form-inputs .message-btn .btn-enviar {
    width: 50%;
    border: none;
}

.form-contact form .form-inputs .message-btn .btn-enviar input {
    border-radius: 5px;
    color: var(--primary-color);
    background-color: var(--background-color);
    font-size: 16px;
    font-weight: 600;
    text-shadow: 1px 1px var(--secondary-color);
    cursor: pointer;
}

.form-contact form .form-inputs .message-btn .btn-enviar input:hover {
    background-color: #dc4d37c7;
    transform: scale(1.05);
    transition: 0.3s;
}

@media (max-width: 918px) {
    .contact-container {
        width: 100%;
        padding: 10px 20px;
    }

    .form-contact {
        padding: 40px 20px;
        gap: 10px;
    }

    .form-contact h2 {
        text-align: center;
        font-size: 1.7rem;
    }

    .form-contact form {
        padding: 0px 0px;
    }

    .form-contact form .form-inputs div {
        width: 100%;
    }



}